@charset "UTF-8"; 
/* 本文の基本スタイル */ 
body { 
background-color: #ddffbc; 
font-family: "Kosugi Maru", sans-serif; 
} 
/* Web サイトのタイトルのスタイル */ 
#site_title { 
position: relative; 
background-color: #ff7f7f; 
color: ivory; 
} 
/* メインタイトルのスタイル */ 
#main_title { 
border: 4px dashed ivory;  
border-radius: 8px; 
padding: 1em 1em 1em 50px; 
box-shadow: 0 0 0 4px #ff7f7f; 
font-size: 3em; 
font-family: "M PLUS Rounded 1c", sans-serif; } 
/* サブタイトルのスタイル */ 
#sub_title { 
position: absolute; 
bottom: 4px; 
left: 50px; 
box-sizing: border-box; 
width: 90%; 
height:24%; 
background-color: #7fbfff; 
border: 4px solid ivory;  
border-radius: 8px;
padding-top: 5px; 
padding-bottom: 5px; 
padding-left: 5px; 
font-size: 1em; 
} 
#sub_title_head { 
font-family: "Lobster Two", sans-serif; 
margin-right: 1em; 
} 
#sub_title_body { 
font-family: "M PLUS Rounded 1c", sans-serif; } 
/* ロゴのスタイル */ 
#school_logo { 
position: absolute; 
bottom: 0px; 
right: 50px; 
} 
/* 第 2 レベルの見出しのスタイル */ 
h2 { 
border: 4px solid ivory;  
border-radius: 8px; 
padding: 8px; 
background-color: #7fbfff; 
color: ivory; 
font-size: 2em; 
font-family: "M PLUS Rounded 1c", sans-serif; } 
/* 第 3 レベルの見出しのスタイル */ 
h3 { 
clear: left;
padding-top: 1em; 
color: darkolivegreen; 
font-size: 1.5em; 
font-family: "M PLUS Rounded 1c", sans-serif; } 
h3::before { 
content: "★"; 
} 
h3::after { 
content: "★"; 
} 
/* 説明文のスタイル */ 
.description { 
clear: none; 
padding-left: 1em; 
color: dimgray; 
line-height: 1.5; 
text-indent: 1em; 
text-align: justify; 
font-size: 1em; 
} 
/* 写真のスタイル */ 
img { 
float: left; 
margin-right: 20px; 
} 
/* フッターのスタイル */ 
footer { 
clear: left; 
padding-top: 1em; 
}
#footer_link { 
margin-right: 1em; 
}
